<div class="row">
    <h1 class="c-jumbo-message__h1 text-uppercase">About</h1>

    <p>
       I'm from Ireland but now I live in New Zealand. Thanks to my mom, I had access to a computer early and I've been a professional developer for a decade or so - mostly with .Net.
    </p>
    <p>
        I studied applied physics at Cork IT.
        After that I moved to Canada to work for Blackberry (1 year after Apple opened the App Store and there was still hope!).
        Then I grew tired of winter and moved to New Zealand.
    </p>

    <p>
        I love to try new things, see new places and meet new people. I'm particularily fond of the mountains, the ocean and outdoor places. I've never stopped playing with Lego. In general I'd rather be on my paddle board.
    </p>
    <p>
        I drive my motorcycle most days. I cycle around my city. I drive my car when I need to get boards to the surf.
    </p>
    <p>
        I don't like mosquitos, creamy white sauces or salad dressing.
    </p>
</div>

<div class="row c-skills__title-container">
    <div class="col-xs-12 text-center">
        <h2 class="c-skills__title">What I'm good at</h2>
    </div>
</div>
<div class="row row-height">
    <div class="col-sm-4 c-skills__skill col-height">
        <h3 class="c-skills__header">Developement</h3>
        <p class="c-skills__description">I've been writing apps for a decade. I've seen apps move from client to server and back again. I love technology and I'm excited to be part of it.</p>
    </div>
    <div class="col-sm-4 c-skills__skill col-height">
        <h3 class="c-skills__header">Agile</h3>
        <p class="c-skills__description">
            I wouldn't dare try to define agile, but I like short iterations, feedback, tests and working code over documentation.
        </p>
    </div>
    <div class="col-sm-4 c-skills-skill-last c-skills__skill col-height">
        <h3 class="c-skills__header">Teams</h3>
        <p class="c-skills__description">
            I'm a firm believer in holding myself as an example. I love Management 3.0 and working with organisations that embrace those principals.
        </p>
    </div>
</div>
