
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

I was unhappy with the detail i could add on linked in and wanted a blog

the code for this is on git hub, so it's kind of meta.

Note: I'm not the best developer in the world but i like to get shit done!! :)
