<div class="row">
    <h1 class="c-jumbo-message__h1 text-uppercase">Contact</h1>

    For now, Hit me up on linked in!

    @Html.RouteLink("http://nz.linkedin.com/in/darraghoriordan", "Linkedin")

</div>