<div class="row c-jumbo-message">
    <div class="col-sm-offset-2
         col-sm-8
         col-md-offset-4
         col-md-4">
        <h1 class="c-jumbo-message__h1 text-center text-uppercase">
            Hello
        </h1>
        <p class="c-jumbo-message__blurb text-justify ">
            My name is Darragh.
            I'm a .Net developer and people leader living in Auckland,
            New Zealand. I like helping people.
            I like solving problems.
            I love using iterative development and data driven decisions to make <em>better</em> things.
        </p>
        <p class="text-right c-jumbo-message__signature">
            <strong>
                - Dar
            </strong>
        </p>
    </div>
</div>
<div class="row c-companies">
    <div class="col-sm-6 text-center">
        <div class="c-companies__logo">
            <img src="~/images/trademe_logo_new100.png" />
        </div>
        <p class="c-companies__description">
            I'm helping to updrade and integrate an aquisition to Trademe architecture, practices and infrastructure.
        </p>
    </div>
    <div class="col-sm-6 text-center">
        <div class="c-companies__logo">
            <img src="~/images/Logo_Bauer_Media_Group_2012100.png" />
        </div>
        <p class="c-companies__description">
            I maintained the autotrader.co.nz platform for Bauer New Zealand.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 text-center">
        <div class="c-companies__logo">
            <img src="~/images/2000px-Blackberry_Logo100.png" />
        </div>
        <p class="c-companies__description">
            I built software and hardware integration systems for Blackberry R&amp;D.
        </p>
    </div>
    <div class="col-sm-6 text-center">
        <div class="c-companies__logo">
            <img src="~/images/zenith-logo100.png" />
        </div>
        <p class="c-companies__description">
            I built a learning management system and tested some large process control IO software.
        </p>
    </div>
</div>