<div class="row">
    <span class="col-sm-12">
        Hello
        My name is Darragh {{/da-ra/}}.
        I'm a developer and people leader living in Auckland, New Zealand. I love making things.
    </span>
    <pre>































</pre>
</div>

