@model Fuzzyminds.ResumeAspNet.ResumeDto.ResumeProfile

<div class="row">
    @foreach (var p in Model.PositionRecords)
    {<h4>@Html.Encode(p.Company.Name)</h4>
        <p>
          
            @Html.Encode(p.Title)
        </p>
    }
</div>