<div class="row">
    <div class="c-jumbo-message
         col-sm-offset-2
         col-sm-8
         col-md-offset-4
         col-md-4">
        <h1 class="text-center text-uppercase">
            Hello
        </h1>
        <p class="text-justify">
            My name is Darragh <span class="text-muted">(da-ra)</span>.
            I'm a .Net developer and people leader living in Auckland, New Zealand. I like making things. I like helping people. I love helping people make <em>better</em> things.
        </p>
        <p class="text-right">
            <strong>
                - Dar
            </strong>
        </p>
    </div>
</div>
