<div class="row">
    <h1 class="c-jumbo-message__h1 text-uppercase">Portfolio</h1>
    <p>
        Here are my repos while I work on this
    </p>
    <ul>
        <li>@Html.RouteLink("GitHub", "Github")</li>
        <li>@Html.RouteLink("Bitbucket", "Bitbucket")</li>
    </ul>
</div>