<div class="row">
    <h1 class="c-jumbo-message__h1 text-uppercase">Portfolio</h1>

    Dealerbase infrastructure
    UNIT TESTING I added a unit test framework and testing to the solution. I implemented the first set of tests myself as a base for
    other developers to use.
    DEPLOY: I took a deploy process that was based on copying and pasting manually on the production server and changed it to a pci compliant
    fully scripted build and deploy process in Team City.
    API: I've planned a move from 5 older asmx, aspx and aspx+json apis in to one web api 2 REST service. I added swagger as a documentation layer
    I had to integrate two authentication methods in to a custom Identiy Library. What i would have done differently as
    I learned more about the technology. Unfortunately it isn't HATEOS
    The Force Awakens
    <p>
        Here are my repos while I work on this
    </p>
    <ul>
        <li>@Html.RouteLink("GitHub", "Github")</li>
        <li>@Html.RouteLink("Bitbucket", "Bitbucket")</li>
    </ul>
</div>