<div class="row">
    <h2>Portfolio</h2>

    More detail of each of the things here.
    <ul>
        <li>@Html.RouteLink("GitHub", "Github")</li>
        <li>@Html.RouteLink("Bitbucket", "Bitbucket")</li>
    </ul>
</div>