<div class="row">
    <h1 class="c-jumbo-message__h1 text-uppercase">Portfolio</h1>
    There's lots of detail in my resume about the various things I've worked on.
    <p>
        Here are my repos while I work more on this. This site is on there too! Contact me if you need more info.
    </p>
    <ul>
        <li>@Html.RouteLink("GitHub", "Github")</li>
        <li>@Html.RouteLink("Bitbucket", "Bitbucket")</li>
    </ul>
</div>