html {
    font-size: 16px;
}
.navbar-default {
    background: #fff;
    border-bottom: 1px solid #f3f3f3;

}
.navbar-toggle {
        background: #3e69dc;
    border: 0;
    border-radius: 5em;
    color: white;
    font-size: 1rem;
        font-weight: bold;
    letter-spacing: 0.0625em;
        text-transform: uppercase;
    padding-left: 1.5em;
    padding-right: 1.5em;
        padding-bottom: 0.703125em;
    padding-top: 0.703125em;
}
.nav > li > a {
    padding-left: 0;
    padding-right: 0;
    margin-right: 12px;
}
.navbar-collapse {
    margin-top: 1.5em;
}
.navbar-default .navbar-nav > li > a {  
     color: #2c313f;
    font-size: 1rem;
    font-weight: bold;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #3e69dc;
}
.navbar-header {
    margin-top: 1.5em;
}

.site-title {
    text-decoration: none;
     display: inline-block;
    line-height: 1.2;
}

    .site-title a {      font-weight: normal;
            font-size: 1.5625rem;
        color: #3e69dc;
    }

        .site-title a:hover {
            text-decoration: none;
            color: #2c313f;
        }

h1, h2, h3, h4, h5, h6, .site-title {
    clear: both;
    color: #2c313f;
 
    font-family: Poppins, sans-serif;
    font-weight: bold;
    margin: 0 0 1.5rem;
}
