html {
    font-size: 16px;
}
.navbar-default {
    background: #fff;
    border-bottom: 1px solid #f3f3f3;

}
.navbar-collapse {
    margin-top: 1.5em;
}
.navbar-default .navbar-nav > li > a {  
     color: #2c313f;
    font-size: 1rem;
    font-weight: bold;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #3e69dc;
}
.navbar-header {
    margin-top: 1.5em;
}

.site-title {
    text-decoration: none;
  
    line-height: 1.2;
}

    .site-title a {      font-weight: normal;
            font-size: 1.5625rem;
        color: #3e69dc;
    }

        .site-title a:hover {
            text-decoration: none;
            color: #2c313f;
        }

h1, h2, h3, h4, h5, h6, .site-title {
    clear: both;
    color: #2c313f;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    margin: 0 0 1.5rem;
}
